<h1> Recipes </h1>

<section class="index-page">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
      <div class="main-div">
        <%= image_tag recipe.image, size: "260x180" %>
        <div class='sub-div'>
          <%= recipe.title %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>